@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* google fonts css here */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.font-primary {
  font-family: "Azeret Mono", monospace;
  font-weight: 800;
}

.description {
  color: rgb(89, 94, 105);
  opacity: 0.7;
  font-size: 14px;
  padding: 20px 0;
}

.title {
  font-size: 32px;
  text-align: center;
}
.why-contant-title{
  font-size: 24px;
  font-weight: 700px;
}

body {
  max-width: 1440px;
}

/* navbar styles here  */

.navbar {
  display: flex;
  padding: 30px 150px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
}

.download-btn {
  background-color: aliceblue;
  padding: 17px 24px;
  border-radius: 8px;
  opacity: 0.8;
}

/* navbar styles ends  here  */

/* hero section styles are here */

.hero {
  background-image: url("../assets/Hero-bg.png");
}

.hero-img {
  text-align: center;
  padding: 24px 0;
}

.hero-contant {
  max-width: 1000px;
  margin: 0 auto;
}
.hero-info {
  text-align: center;
}

.hero-title {
  font-size: 36px;
  margin: 280px 1px;
}

.contact-btn {
  background-color: black;
  color: white;
  padding: 17px 24px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

/* hero section styles ends here */

/* why-section starts here */

.why-section {
  max-width: 1040px;
  padding: 20px 97px;
  margin: 40px auto;
  background: rgba(13, 19, 33, 0.02);
  
}
.why-title-section {
  text-align: center;
 

}
.why-container{
  display: flex;
  flex-direction:column;
  align-items: center
}

.why-position{
  display: flex;
  gap: 50px;
  margin: 50px 20px;
}

.why-btn{
  padding: 12px 20px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  margin: 20px 0;
}
/* why-section ends here */
